* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("1012727.png"); /* nome da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* MENU ESTILO YOUTUBE */
.menu {
    background: #0f0f0f;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/* Lado esquerdo */
.menu-esquerda {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Botão hamburguer */
.hamburguer {
    width: 25px;
    cursor: pointer;
}

.hamburguer span {
    display: block;
    height: 3px;
    background: white;
    margin: 5px 0;
    border-radius: 2px;
    transition: 0.3s;
}

.hamburguer:hover span {
    background: #00ffff;
}

/* Logo */
.logo {
    font-size: 22px;
}

/* Lista */
.menu-lista {
    list-style: none;
    display: flex;
    gap: 30px;
    transition: 0.4s;
}

.menu-lista a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu-lista a:hover {
    color: #00ffff;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .menu-lista {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background: #111;
        width: 200px;
        padding: 20px;
    }

    .menu-lista.ativo {
        left: 0;
    }
}



/* Texto 1 */
.forun_pai {
    background-color: black;
    color: white;
    max-width: 900px;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 8px;
}

.tex1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.forun_pai p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.forun_segundo {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.text2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: justify;
}

/* IMAGEM .imagem1 { width: 150px; height: 150px; background-image: url("Java.jpg"); background-size: cover; background-position: center; margin-top: 20px; } */
/* RODAPÉ */
.menuEnd {
    background-color: black;
    color: #f1f1f1;
    text-align: left;
    padding: 20px;
    margin-top: auto;
}